    
                
                <!-- Risk Map Page -->
                <div id="risk-map-page" class="page" style="display: none;">
                    <!-- Map -->
                    <div class="card" style="--card-index: 0;">
                        <div class="card-header">
                            <h3>Mapa de Calor de Focos de Malária</h3>
                            <div>
                                <button class="btn btn-outline btn-sm" id="refreshMap"><i class="fas fa-sync-alt"></i> Atualizar</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                